[init]
	defaultBranch = main
[user]
	email = marcelo.yanez@mail.udp.cl
	name = Marcelo Yáñez
[core]
	editor = nvim
  pager = cat
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d $LOCAL $REMOTE"
[merge]
  ff = no
  commit = no
